 /*주석은 이렇게 달아요*/

/*
태그이름#아이디 { 속성1:속성값; 속성2:속성값; } 
태그이름.클래스명1, .클래스명2 { 속성1:속성값; 속성2:속성값; }
.클래스명#아이디 { 속성1:속성값; 속성2:속성값; }


공백삽입: &nbsp;
*/


body{

    background-color:#E7E7E7;
}


/* ===== 1. 루트 기준 설정 ===== */
html {
  font-size: 16px; /* 1rem = 16px */
}

@supports (-webkit-touch-callout: none) {
  html, body {
    font-size: 17px !important;
  }
}



     @font-face {
        font-family:'IropkeBatang';
        src:url('./IropkeBatangM.woff');

      }


/*
pre-wrap : 공백을 그대로 표시하며 박스의 영역을 벗어나지 않고 줄바꿈합니다.
pre-line : 공백을 하나로 처리하고 박스를 벗어나지 않습니다.
normal  : 연속된 공백을 하나로 처리하고 박스를 벗어나지 않기 위해 줄바꿈을
*/

         div.a , .keywordnote , .question{

              color:#686868;
              font-size: 0.93rem;
              text-align: left;

              margin: 0px;
              padding-top: 0px;

              overflow: auto;

              font-family: 'IropkeBatang';
              white-space: pre-wrap; /* pre tag내에 word wrap */

            }

        div.answer{

          color:#686868;
          background-color:#E7E7E7;

          font-size: 1.0rem;
          text-align: left;

          margin: 0px;
          padding-top: 0px;

          overflow: auto;

          font-family: 'IropkeBatang';
          white-space: pre-wrap; /* pre tag내에 word wrap */


        }



           div.notice{

              color:black;
              font-size: 0.90rem;
              text-align: left;

              overflow: auto;

              font-family: 'IropkeBatang';
              white-space: pre-wrap; /* pre tag내에 word wrap */

            }


      pre {

          font-size: 0.95rem;
          font-family: 'IropkeBatang';
		  padding:5px;

		  line-height:1.4rem;

		  overflow: auto;
          white-space: pre-wrap; /* pre tag내에 word wrap */

      }




/* 폰트 이름에 작은 따움표 '' 꼭 붙여야 합니다*/
      div.formula {

       padding-left:5pt;
       padding-top:10pt;
       padding-bottom:5pt;
	   
	   font-size: small; 

       font-family: '돋움';
       color:white; 
       background-color:black;
       width:90%;
       border-radius: 2em;
         
      }


.acnt1 {
 background: #FFD54A;
 color: #222222;
}

.acnt2 {
  background: #c0c0c0;
  color: #000000;
  font-weight: 600;
}

div.ibox{	
margin-left: 3px; 
border: 1px dotted black; 
background: white;
padding: 5px;	
}

/* 경계는 없니만 배경색 있는 박스 */
div.box {
    background-color: #FFF2F2;
    padding: 5px;
    font-size: 0.98em;
    margin-left: 5px;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

div.border{
  border: 1px dotted black;

}

div.prewrap{
white-space: pre-wrap;

}


/* custom의 자식 */
ol.custom {
 list-style-type: none;
 list-style-position: outside; /* 기본값으로 복구 */
 white-space: normal;	
 padding-left: 6px;
 margin-left: 0;
}

ol.custom li {
 display: flex;		
 align-items: flex-start;   /* ← 핵심 */
 gap: 6px;
}

ol.custom .content {
  flex: 1;          /* 나머지 영역 */
}


table.border {
    border: 1px solid #333;
    border-collapse: collapse; /* ★ 이게 핵심 */
}

table.border td {
    border: 1px solid #333;
}


.subtitle{
  font-size: 1.25rem;
  font-weight: 700;

}

span.bodytitle{
  font-size: 1.2rem;
  font-weight: 700;
}




	   .math {

        font-family: Courier;
	    font-size:1.0rem;
	    color: black;
	    font-weight: bold;
        margin: 2px;
	    padding: 2px;
	   }

      div.study_point {

       padding:10px;
       background-color:black;
       color:orange; 
       width:80%;
       border-radius: 2em;
         
      }


     div.solve{
       padding-left: 5px;
       border-left : 3px solid gray;
       text-align: top;
	   font-size:0.95rem;

	   padding-top: 2px;

     
      }

    /* column 2개 */
     div.solve_col_2{
       display: table;
       padding-left: 5px;
       border-left : 3px solid gray;
       text-align: top;
      
      }

     div.solve_col_L {
     display: table-cell;
     padding-right:15px;
     text-align: right;
    
    
      }
 
     div.solve_col_R{
       display: table-cell;
       text-align: left;
       padding-left:10px;
     
      }


 /*-------------------*/
    div.mathform {

           display:table;
           background-color:white;
           width: 100%;
    	   font-size: 0.95rem;

     	   font-family: Courier;

    }

    div.mathform_L {


          display: table-cell;
          padding:2px;

          text-align: right;
            font-family: Courier;
    }

    div.mathform_R {

          display: table-cell;
          padding:2px;
          text-align: left;
            font-family: Courier;
    }

    /*-------------------*/


   /* 암산 연습 */

    div.math_note{
       display:table;
       background-color:#C9C9C9;
       width: 95%;
	   font-family: Courier;
 
      }

      div.math_note_L {

      display: table-cell;
      padding:5px;

      font-size: medium;

      color:black;

      border-right : 1px solid black;
      width: 42%;

      }
 
     div.math_note_R {

      display: table-cell;  
      padding:5px;
      
      font-size: medium;

      color:black;

      border-left : 1px solid black;
      width: 42%;
 
     }


      div.book{
       display:table;
       background-color:#D9D9D9;
       width: 100%;
	   font-size: 0.9rem;

/*
	   font-weight:bold;
       font-family: Courier;*/

        color:black;
      }

      div.book_L {

      display: table-cell;
      padding:2px;



      border-right : 1px solid black;
      width: 46%;

      }
 
     div.book_R {

      display: table-cell;  
      padding:2px;
      
      color:black;

      border-left : 1px solid black;
      
 
     }

     div.t_book , .t_book_LR, .Tbook, tbook{
       display:table;

       font-size: 0.90rem;
       color:black;
       background-color:#C9C9C9;
       width: 100%;
       vertical-align:top;
      
    }

      div.t_book_L, .Tbook_L, .tbookL {

      display: table-cell;
      padding:5px;
      border-top   : 5px solid black;  
      border-right : 3px solid black;


      }
 
     div.t_book_R, .Tbook_R, .tbookR {

      display: table-cell;
      padding:5px;

      border-top : 5px solid black;  
      border-left : 3px solid black;


     }


      div.formula_0 , .formula_0_LR {
      display:table;
       background-color:#C9C9C9;
       width: 90%;
 
      }

      div.formula_0_L {

      display: table-cell;
      padding:5px;

      color:black;
      vertical-align:middle;
      text-align:right; 


      }
 
     div.formula_0_R {

      display: table-cell;  
      padding:5px;

      color:black;

      vertical-align:middle;
      text-align:left; 
 
     }

     div.formula_1_LR {
      display:table;
       background-color:white;
       width: 100%;
 
      }

      div.formula_1_L {

      display: table-cell;
      padding:0px;

      border-right: 1px dotted black;

      color:black;
      vertical-align:top;
      text-align:left; 
	  font-size:0.9em;


      }
 
     div.formula_1_R {

      display: table-cell;  
      padding:2px;

      color:black;

      vertical-align:top;
      text-align:left; 
	  
	  font-size:0.9em;

 
     }



    
    div.formula_1_UB {
      display:table;
       background-color:#696969;
       width: 95%;
 
      }

      div.formula_1_U {

      display: table-row;
      padding:2px;

      color:white;
      vertical-align:middle;
      text-align:left; 


      }
 
     div.formula_1_B {

      display: table-row;  
	  	  
      padding-bottom:2px;

      color:white;

      vertical-align:middle;
      text-align:left; 
	  font-size: 0.9em;
 
     }



    span.accent {
     
     padding:5px;
     background-color:yellow;
     font-weight:bold;
    }





 .heading {
         font-size: 1.3rem;
         margin:2px;
         padding:0px;
    	 line-height:1.4rem;
         color: black;
         font-weight: bold;
    }

    .accent0, .a0 {
         font-size: 1.1rem;
         margin:2px;
         padding:0px;
    	 line-height:1.4;
         color: black;
         font-weight: bold;
    }


    .accent1,.a1 {
         font-size: 1.1rem;
          font-weight: bold;
         margin:2px;
         padding:0px;
    	 line-height:1.4;
         color: #A50E53;
         background-color: #FCE8E6;
    }

    .accent2,.a2 {
         font-size: 1.1rem;
          font-weight: bold;
         margin:2px;
         padding:0px;
    	 line-height:1.4;
         color:#185ABE;
         background-color: #E8F0FE;
    }

    .accent3,.a3 {
         font-size: 1.1rem;
          font-weight: bold;
         margin:2px;
         padding:0px;
    	 line-height:1.4;
         color: #000;
        background-color: #fdf5d4;
    }

.right {
     text-align: right
    }

   .left {
         text-align: left
    }

   .center {
         text-align: center
    }

    .w1 {
      width: 1rem;
    }
   .w2 {
      width: 2rem;
    }
    .w3 {
      width: 3rem;
    }
    .w4 {
      width: 4rem;
    }


    .box-note {
      background-color: #eee;
      padding: 10px;
      margin: 0px;
      line-height: 120%;
      border-style: dotted dotted dotted solid;
      border-color: black;
      border-width: 1px 1px 1px 5px
     /*위, 오른쪽, 아래, 왼쪽 */
    }

   .box-note0, .box-note3 {
    /*  background-color: #FCE3E3;*/
      background-color: #efefef;
      padding: 5px;
      line-height: 140%;
      border: 1px dotted gray;
    }

   .box-note1 {
      background-color: #eee;
      padding: 5px;
      line-height: 150%;
      border: 1px dotted black;
    }

   .box-note2 {
      background-color: #E8F0FE;
      padding: 5px;
      line-height: 150%;
      border: 1px dotted black;
    }

   div.tb {
   display: table;
   width: 100%;
   font-size: 0.95rem;
   border: 1px dotted black;

   }

   div.tr {
   display: table-row;

   }


   div.tc_w2rem {
      display: table-cell;
      width: 2.0rem;
      text-align: right;
   }

   div.tc_0 {
      display: table-cell;
      text-align: right;
      background: #fdf5d4;
   }

   div.tc {
      display: table-cell;
      text-align: left;
   }

   div.tc_num {

    display: table-cell;
    font-weight: bold;
    font-family: Courier;

   }

   div.tc_numL {

    display: table-cell;
    text-align: left;
    font-weight: bold;
    font-family: Courier;

   }

   ol, ul{
     white-space: normal;
     padding-left:20px;
     line-height: 140%;
   }

    li::marker {
      color: black;
      font-size: 1.1em;
      font-weight: bold;
    }

    p.indent {
     /* text-indent : -15px;*/
      /* text-indent : -50%; */
      margin: 0px;
      padding-left: 0.5rem;
      padding-bottom: 0px;
    }



    span.green, .accent_g {
     
     margin:2px;
     padding:0px;
     color:black;
	 line-height:1.5rem;
     background-color:#D3FAD2
    }

 span.white {
     
	 font-size: 1.2rem;
     margin:2px;
     padding:0px;
     color:white;
	 line-height:1.4rem;
     background-color:black
    }




/*em : 상위 요소기준 */
/*rem : 최상위 요소기준 */


 b {

     font-size: 0.96rem;
	 line-height: 1.0rem;
     color: black;
	 font-weight: bold;
  }


 span.label_s , .label_1, .label-1{

     margin:2px;
     padding: 0;
     font-size: 1.2rem;
	 line-height: 1.5rem;
     color: black;
	 font-weight: bold;
  }
  
  span.label_m , .label_2 , .label-2 {

   padding: 0;
    font-size: 1.5rem;
	line-height: 1.8rem;
    color: black;
	 font-weight: bold;
  }

  span.label_big , .label_3, .big{

    font-size: 2.0rem;
    color: black;
	line-height: 2.0rem;
	 font-weight: bold;
  }


  span.b1 {

      font-size: 1.2rem;
      color: black;
      background-color: white;
      line-height: 2.0;
      /*지정된 폰트 사이즈의 2.0배를 줄간격으로 지정합니다.*/
  }


  span.book {
     
	 line-height:1.5rem;
     padding:1px;
     color:black;
	 font-size:1.0rem;
     background-color: white;
    }

 span.small {

  line-height:1.2rem;
      padding:1px;
      color:black;
  	 font-size:0.9em;

 }


  span.blue {
 
     font-size:1.2rem;
	 line-height:1.2rem;
     margin:2px;
     padding:2px;
     color:white;
     background-color:#3390FF;
    }
 


   span.yellow {
     
     margin:0px;
     padding:0px;
     color:black;
	 line-height:1.4rem;
     background-color:yellow;
    }

   
    span.gray {
     
     margin:2px;
     padding:2px;
     color:white;
     background-color:gray;

 
    }


 span.number {
     
	 font-size:1.2rem;
     margin:1px;
     padding:0px;
     color:blue;
 
    }
	
    span.red, .accent_red, .accent-red{

     margin:1px;
     padding:0px;
     font-size: 1.0rem;
	 line-height:1.5rem;
     color:red;
     background-color:#FFEBEB;
 
    }


 span.mid {

     font-size: 1.5rem;
     margin:0px;
     padding:0px;
	 line-height:1.4rem;
     color:black;
     background-color:white;
     font-weight: bold;


    }



    span.b, .black, .accent_black{

      margin:0px;
     padding:0px;
     font-size: 1.1rem;
	 line-height:1.5rem;
     color:black;
     background-color:white;
     font-weight: bold;


    }




  span.q{

     font-size: 1.1rem;
     color:black;
     line-height:1.5rem;
     background-color:#E2E2E2;
 
    }


  span.line{

     font-size: 0.95rem;
     line-height:1.5rem;
     /*background-color:white;*/
     white-space: normal;

    }

    div.line{
      white-space: normal;
    }



      span.line_r{

         font-size: 0.96rem;
         line-height:1.5rem;
         color:black;
         /*background-color:white;*/
         white-space: normal;

         background-color:#FBEBEB;

        }

     span.law{

         font-size: 0.96rem;
         line-height:1.5rem;
         color:black;
         background-color:#FBEBEB;
         white-space: pre-wrap;

        }


    U {


     margin:0px;
     padding:2px;

     color:black;
     text-decoration : none;
     border-bottom : 2px solid #FF0000;
     padding-bottom : 0px;
	 line-height: 1.5rem;
   
    }
     

    U.r {

     text-decoration : none;
     border-bottom : 2px solid #FF0000;

     margin-top: 5px; 
     padding-bottom : 0px; 
   
    }

   U.cancel {

     text-decoration: line-through;
	  border-bottom : 2px solid #FFFFFF;
     padding-bottom : 2px; 
   }

    ul.no_dot {
   
    list-style:none;

   }
   
   ul.type1 {
	      margin:0;
   }

   li.type1 {
	   
	   margin: 0;
	   padding:0;
   }
   
  /*   font-family: 'Nanum Gothic';	*/

    P.p1 {
		  	
    margin-top:2px;
    padding-top:0px;
    padding-left:10px;
    font-size:0.96em;
	line-height:1.3rem;
   }
   
     P.p2 {
		
    font-family: Nanum Gothic;		
    margin-top:2px;
    padding-top:0px;
    padding-left:12px;
    font-size:0.92em;
   }



     p.law {

       margin-top:2px;
       padding-top:0px;
       padding-left:5px;
       font-size:0.95em;
       line-height:1.3rem;

       overflow:auto;
       white-space: pre-wrap; /* pre tag내에 word wrap */
       color:black;
       background-color:#FBEBEB;

      }

/* overflow:auto하지 않으면 white-space:normal적용안됨*/

     p.law-line {

       margin-top:2px;
       padding-top:0px;
       padding-left:5px;
       font-size:0.95em;
       line-height:1.3rem;

       overflow:auto;
       white-space: normal;
       color:black;
       background-color:#FBEBEB;

      }


     div.law-line-div {

       margin-top:2px;
       padding-top:0px;
       padding-left:5px;
       font-size:0.95em;
       line-height:1.3rem;

       overflow:auto;
       white-space: normal;
       color:black;
       background-color:#FBEBEB;

      }



     p.answer-line {

       margin-top:0px;
       padding-top:0px;
       padding:5px;
       font-size:0.95em;
       line-height:1.3rem;

       white-space: normal;
       color:black;
       background-color:#FBFBFB;

      }


 p.small-line , .keyword-line {

       margin-top:2px;
       padding-top:0px;
       padding-left:2px;
       font-size:0.9em;
       line-height:1.3rem;

       color:black;

       overflow: auto;
       white-space: normal; /* pre tag내에 word wrap */

       background-color:#EBFBEB;

      }


   div.keyword-line-div {

       margin-top:2px;
       padding-top:0px;
       padding-left:2px;
       font-size:0.9em;
       line-height:1.3rem;

       color:black;

       overflow: auto;
       white-space: normal; /* pre tag내에 word wrap */

       background-color:#EBFBEB;

      }

   /*
   build 2021-10-05
   */


   span.bold {
     margin:2px;
     padding:0px;
     color:black;
	 line-height:1.5rem;
     font-weight: bold;

    }

   span.line{

     white-space: normal;

    }

  span.size0 {

     font-size: 0.92em;

    }


    span.size1 {

     font-size: 1.2em;

    }


    span.size2 {

     font-size: 1.3em;

    }

    span.size3 {

     font-size: 1.6rem;

    }

    span.size4 {

     font-size: 2.0rem;

    }

    span.e {

      line-height:1.5rem;
      margin:2px;
      padding:2px;
      background-color:#fef4bd;

     white-space: normal;
   }


   .kwdlink {

    color:black;
    font-size: 1.5rem;
    background-color:yellow;
    margin:2px;
    padding:0px;
    line-height:1.5;

    text-decoration: underline;
    text-decoration-color: red;

   }


  .bg-green {

      background-color:#EBFBEB;

  }

  .bg-pink {

      background-color:#FBEBEB;
      color:black;
  }


 div.keyword-div {

           margin-top:5px;
           padding: 5px;
           font-size:0.95em;
           line-height:1.3rem;

           color:black;

           overflow:auto;
           white-space: pre-wrap;
           background-color:#EBFBEB;

          }

 div.keyword-dot {

           color:gray;
           border: 2px dotted red;

           margin-top:5px;
           padding: 5px;
           font-size:0.90rem;
           line-height:1.3rem;

           overflow:auto;
           white-space: pre-wrap;

          }

  div.keyword {

           border: 2px dotted gray;

           color:#404040;
           background-color:#efefef;

           margin-top:2px;
           margin-bottom:2px;
           padding: 2px;
           font-size:0.92rem;
           line-height:1.3rem;

           overflow:auto;
           white-space: pre-wrap;

          }


          /*
          keyword + .bg-green
          */


/*

*/














