 span.red{

     margin:2px;
     padding:0px;
     font-size: 1.0rem;
  	 line-height:1.2rem;
     color:red;
     background-color:#FFEBEB;
 
    }

div.keyword {
         border: 2px dotted black;
		     background-color:#EcEcEc;

   		   color: #606060;
         margin-top:5px;
         padding: 2px;
         font-size:0.98em;

         overflow:auto;
         white-space: pre-wrap;

       }
